body {
    background-color: rgb(197, 221, 221);
}

h1 {
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 40px;
}

h2{
    margin: 10px;
}

#petChoice {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#petChoice img, #petImage {
    width: 200px;
    border: 10px ridge blueviolet;
    margin: 30px;
}

#modalOne, #modalTwo{
    display: none;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 15%;
    z-index: 1;
}

#modalOneContent, #modalTwoContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    background-color: white;
}

#nameInput{
    margin-bottom: 10px;
}

#gameBox{
    display: none;
    flex-direction: column;
    align-items: center;
}

#careChoices {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#walk, #runWheel, #play, #poops{
    display: none;
}

.image {
    width: 120px;
    height: 120px;
    border: 3px ridge blueviolet;
    margin: 10px;
}

#prarametersLevel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
